.main {
  margin: 60px 150px 0px 210px;
  position: relative;
}
.container {
  position: relative;
  z-index: 1;
  height: 770px;
}

.titleBlock {
  position: relative;
  z-index: 2;
  width: 757px;
  height: 116px;
  top: 256px;
  left: 49px;
  right: 120px;
  bottom: 381.5px;
  font-size: 48px;
  text-align: right;
  font-weight: 600;
  color: rgba(37, 37, 37, 1);
  background: rgba(0, 0, 0, 0);
  margin-bottom: 30px;
}
.title {
  background: 0;
  margin-bottom: 30px;
}

.gradient {
  background: linear-gradient(
    93.2deg,
    #6dcfff 86.21%,
    #737ff5 97.65%,
    #2e41ff 97.65%
  );
  -webkit-background-clip: text;
  color: transparent;
}
.textUnderTitle {
  position: relative;
  left: 180px;
  text-align: center;
  font-size: 18px;
  color: rgba(128, 128, 128, 1);
  width: 607px;
  height: 44px;
  background: 0;
}
.button {
  position: absolute;
  top: 504px;
  left: 636px;
  width: 178px;
  height: 59px;
  z-index: 2;
  border-radius: 6px;
  border: none;
  background: rgba(254, 254, 254, 1);
  color: rgba(131, 100, 226, 1);
}
